@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Orders Task Implementation Folders</h1>
    <p class="lead">* I give a Simple Created designed Bootstrap UI In Views</p>
    <p class="lead">* this task implemented using Repository Pattern which is in Folder DAL(Data Access Layer) All Repositories and Unity mvc Dependcy Injection which is a function implemented in unityConfig in App_Start Folder</p>
    <p class="lead">* And CRUD Operation in Product and Category Controller</p>
    <p class="lead">To able to make a CRUD Operation I make one User with Email & Password As follows</p>
    <p class="lead">Email => ordera@ordera.com   ||  Password => Ordera1234$</p>
    <p class="lead">Best Regards...</p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@